.navlinks:link{
    font-family:Impact;
    color:black;
}
.navlinks:visted{
    font-family:Impact;
    color:black;
}
.navlinks:hover{
    background-color:black;
    font-family:Impact;
    color:white;
}
.navlinks:active{
    background-color:#D8DADB;
    font-family:Impact;
    color:black;
}
a{
    font-family:Impact;
    color:black;
}
.navlinks{
    position:relative;
    bottom:2.5em;
    left:3.5em;
    font-size:20px;
    letter-spacing:normal;
    padding:0px 10px;
    text-decoration:none;
}
nav{
    background-color:#D8DADB;
    margin:1px;
    padding:1px;
}
h1{
    font-family:Impact;
    color:white;
    text-align:center;
}
html{
    background-color:#1a1a1a;
}
table{
    border-style:groove;
    border-color:black;
    font-family:"Courier New";
    color:white;
    text-align:center;
    float:inherit;
    position:relative;
    left:15px;
}
#profile{
    float:left;
}
#pic{
    position:absolute;
    left:43em;
    bottom:7.6em;
}
div{
    position:absolute;
    left:64.65em;
    bottom:11.7em;
}
#info{
    font-family:Impact;
    color:white;
    text-align:left;
    position:relative;
    left:15px;
}    
h2{
    font-family:Impact;
    color:white;
    text-align:center;
}
h3{
    font-family:Impact;
    color:white;
    text-align:left;
}
#quote{
    font-family:"Brush Script MT",cursive;
    color:white;
    font-size:25px;
}
p{
    font-family:Charcoal;
    color:white;
}
li{
    font-family:Charcoal;
    color:white;
}
