.navlinks:link{
    font-family:Impact;
    color:black;
}
.navlinks:visited{
    font-family:Impact;
    color:black;
}
.navlinks:hover{
    background-color:black;
    font-family:Impact;
    color:white;
}
.navlinks:active{
    background-color:#D8DADB;
    font-family:Impact;
    color:black;
}
.projects{
    padding:0px 10px;
    font-family:Impact;
    color:black;
}
.navlinks{
    position:relative;
    bottom:2.5em;
    left:3.5em;
    font-size:20px;
    letter-spacing:normal;
    padding:0px 10px;
    text-decoration:none;
}
nav{
    background-color:#D8DADB;
    margin:1px;
    padding:1px;
}
h1{
    font-family:Impact;
    color:white;
    text-align:center;
}
html{
    background-color:#1a1a1a;
}
div{
    position:absolute;
    left:66.65em;
    bottom:16.5em;
}
h2{
    font-family:Impact;
    color:white;
    text-align:center;
}
h3{
    font-family:Impact;
    color:white;
    text-align:left;
}
p{
    text-align:center;
    font-family:Charcoal;
    color:white;
}
li{
    font-family:Charcoal;
    color:white;
}